

.change-details-field-usr,
.change-details-field-age,
.change-details-field-town,
.change-details-field-country,
.change-details-field-email
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.change-details-btn
{
    width: 50%;
    background-color:khaki;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.bodyChangeDetails
  {
    border-radius: 5px;
    background-color:lightgreen;
    padding: 20px;
    text-align: center;
    padding-bottom: 20px;

  }

  .bodyAccount
  {
    padding-bottom: 30px;
  }